{% extends 'base.html.twig' %}
{% block title %}Catálogo de películas{% endblock %}
{% block main %}
    {{ parent() }}
    <p>Listado de películas en <b>SymfoFilms</b>.</p>

    <p>A lo largo de  las próximas semanas iremos editando este ejemplo para dotarlo de nuevas características y funcionalidades.</p>

    {% include '/includes/lista_pelicula.html.twig' %}

{% endblock %}